{% extends 'base.html' %}
{% load picasagallery_tags %}
{% load i18n %}
{% load sekizai_tags %}

{% block head %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}picasagallery/css/base.css"
          type="text/css" media="screen" charset="utf-8" />
{% endaddtoblock %}
{%  endblock %}

{% block base_content %}
    {% for album in albums %}
        <div class='album'>
            <div class='album-head'>
                <a href="{% url picasagallery.views.album_list album.GetAlbumId %}" >
                    <img class="album-preview" src="{% thumbnail_url album %}">
                </a>
            </div>
            <div class="album-name">
                <a href="{% url picasagallery.views.album_list album.GetAlbumId %}">
                    {{  album.title.text }}</a>
            </div>
        </div>
    {% endfor %}
{%  endblock %}